<%= form_for @identity, html: { class: 'pure-form pure-form-aligned'}, url: sessions_path do |form| %>
  <%- if warden_message %>
    <div class='alert'><%= warden_message %></div>
  <% end %>

  <div class="pure-control-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="pure-control-group">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="pure-controls">
    <%= form.submit t('.log_in') %>
  </div>
<% end %>
